  body {
            background-color: #2e0a0a;
            color: #fff6d6;
            font-family: "Comic Sans MS", cursive;
            text-align: center;
        }
        h1 {
            color: #ffcc00;
            text-shadow: 2px 2px 5px #ff6600;
        }
        table {
            margin: auto;
            border-collapse: collapse;
            width: 80%;
            background-color: #4b1b1b;
            box-shadow: 0 0 15px #ff9933;
            border: 4px solid #ffcc00;
        }
        th, td {
            border: 2px solid #ffcc00;
            padding: 15px;
        }
        th {
            background-color: #ff6600;
            color: white;
            font-size: 1.2em;
        }
        td img {
            width: 100px;
            border-radius: 10px;
        }
        caption {
            font-size: 1.5em;
            color: #ffcc00;
            margin: 10px;
            text-shadow: 1px 1px 5px black;
        }
        